    /* poppins font import link */
    @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

    :root {
      --header-height: 3.5rem;
      --first-color: hsl(220, 68%, 54%);
      --first-color-lighten: hsl(220, 68%, 97%);
      --title-color: hsl(220, 48%, 28%);
      --text-color: hsl(220, 12%, 45%);
      --body-color: hsl(220, 100%, 99%);
      --normal-font-size: .938rem;
      --small-font-size: .813rem;
      --smaller-font-size: .75rem;
      --font-medium: 500;
      --font-semi-bold: 600;
      --body-font: "Poppins", sans-serif;
      --para-color: black;
    }
    
    html {
      scroll-behavior: smooth;
    }
    
    @media (min-width: 1024px) {
      :root {
        --normal-font-size: 1rem;
        --small-font-size: .874rem;
        --smaller-font-size: .813rem;
      }
    }
        /* =======BASE=======  */
    * {
      box-sizing: border-box;
      padding: 0;
      margin: 0;
    }
    body {
      font-family: var(--body-font);
      font-size: small;
      /* font-size: var(--normal-font-size); */
      background-color: var(--body-color);
      color: var(--text-color);
    }

    .header1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  color: white;
  margin-left: 28px;
  margin-right: 30px;
}
    
    ul {
      list-style: none;
    }
    
    a {
      text-decoration: none;
    }
    
    .container {
      display: flex;
      /* padding-top: 20px; */
      /* align-items: center; */
      /* max-width: 1120px; */
      margin-inline: 1.5rem;
    }
      /* =====header=====  */
      .header2 {
        position: sticky;
        height: 80px;
        top: 0;
        left: 0;
        width: 100%;
        box-shadow: 0 2px 8px hsla(220, 68%, 12%, 0.1);
        background-color: var(--body-color);
        z-index: 1000;
      }
    .logo {
      display: flex;
    }
        /* ========NAV==== */
    .nav {
      display: flex;
      height: var(--header-height);
      display: flex;
      justify-content: space-between;
      /* align-items: center; */
      padding-top: 27px;
      /* padding: 5px; */
    }
    
    .nav__logo {
      display: inline-flex;
      align-items: center;
      column-gap: .25rem;
      color: var(--title-color);
      font-weight: 200;
      transition: color 0.3s;
    }
    .nav__logo i {
      font-size: 1rem;
    }

    .icons>i{
      padding: 0 10px;
      font-size: 22px;
      cursor: pointer;
      color: black;
    }
    
    .navList {
      display: flex;
      /* flex-direction: row; */
      /* justify-content: space-between; */
      align-items: center;
      /* cursor: pointer; */
    }
    
    .navList.active {
      display: flex;
    }
    
    .nav__link {
      color: var(--title-color);
      /* font-weight: var(--font-semi-bold); */
      padding: 1rem 1rem;
      transition: background-color .3s;
      cursor: pointer;
      display: flex;
      justify-content: space-between;
      border: none;
      background: inherit;
      font-size: var(--normal-font-size);
      color: #655d56;
    }
    
    /*.nav__link:hover {
      background-color: var(--first-color-lighten);
    } */
    
    .menu-toggle {
      /* display: none; */
      font-size: 1.5rem;
      color: var(--title-color);
      cursor: pointer;
    }
    #menu-icon {
      display: none;
    }
    
    .dropdown-menu,
    .dropdown-menu2,
    .dropdown-menu3 {
      display: none;
      color: var(--title-color);
      font-weight: var(--font-semi-bold);
      padding: 1rem 1rem;
      transition: background-color .3s;
      /* cursor: pointer; */
      position: absolute;
    
      /* flex-direction: column; */
      top: 63px;
      left: 0;
      right: 0;
      /* background-color: blue; */
      background-color: var(--body-color);
      height: auto;
    }
    
    .dropdown-menu li,
    .dropdown-menu2 li,
    .dropdown-menu3 li {
      margin: 0;
      width: 100%;
    }
    .dropdown-menu li a,
    .dropdown-menu2 li a,
    .dropdown-menu3 li a {
      display: block;
      margin: 0;
      width: 100%;
    } 
    .dropdown-menu li a:hover,
    .dropdown-menu2 li a:hover,
    .dropdown-menu3 li a:hover {
      color: black;
      /* background-color: var(--first-color-lighten); */
    }
    
    
        /* Dropdown 1 */
    .dropdown__item.open .dropdown-menu {
      display: block;
    }
      /* For rotate arrow sign */
    .arrow {
      transition: transform 0.3s ease;
    }
    .dropdown__item.open .arrow { 
      transform: rotate(180deg);   /*Rotates ▼ to become ▲ */
    }
    
        /* Dropdown 2 */
    .dropdown__item2.open .dropdown-menu2 {
      display: block;
    }
      /* For rotate arrow sign */
    .arrow {
      transition: transform 0.3s ease;
    }
    .dropdown__item2.open .arrow { 
      transform: rotate(180deg);   /*Rotates ▼ to become ▲ */
    }
    
        /* Dropdown 3 */
    .dropdown__item3.open .dropdown-menu3 {
      display: block;
    }
      /* For rotate arrow sign */
    .arrow {
      transition: transform 0.3s ease;
    }
    .dropdown__item3.open .arrow { 
      transform: rotate(180deg);   /*Rotates ▼ to become ▲ */
    }
     
        /* Sub dropdown  */
    .column {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding-left: 20px;
      padding-right: 20px;
      height: auto;
      border-top: 0.001px solid lightgrey;
    }

    /* All Dropdown card section start */
    #dropdowncard {
      position: relative;
      overflow: hidden;
      margin-top: 50px;
      height: 240px;
      width: 210px;
      border: 0.001px solid lightgray;
      cursor: pointer;
      border-radius: 5px;
      box-shadow: 0px 2px 5px 2px lightgray;
    }
   
    #dropdowncard p {
      color: var(--para-color);
      font-weight: 300;
      text-align: center;
    }

    #dropdowncard img {
      height: 210px;
      width: 210px;
      transition: transform 0.3s ease-in-out; /*animation*/   
      margin-top: 25px; 
    }
    #dropdowncard img:hover {
      transform: scale(1.15); /* Enlarges the image while staying inside the card */
    }
    /* All Dropdown card section end */

    .columnHomeLinen {
      display: flex;
      flex-direction: row;
      gap: 30px;
      justify-content: center;
      border-top: 0.001px solid lightgrey;
    }
     /* Sub dropdown About */
    .columnAbout {
      display: flex;
      flex-direction: row;
      gap: 20px;
      justify-content: space-between;
      padding-left: 20px;
      padding-right: 20px;
      height: auto;
      border-top: 0.001px solid lightgrey;
    }

    /* About Dropdown card section start */
    #dropdowncardAbout {
      position: relative;
      overflow: hidden;
      margin-top: 50px;
      height: 240px;
      width: 400px;
      border: 0.001px solid lightgray;
      cursor: pointer;
      border-radius: 5px;
      box-shadow: 0px 2px 5px 2px lightgray;
    }
   
    #dropdowncardAbout p {
      color: var(--para-color);
      font-weight: 300;
      text-align: center;
    }

    #dropdowncardAbout img {
      height: 210px;
      width: 390px;
      transition: transform 0.3s ease-in-out; /*animation*/   
      margin-top: 25px; 
    }
    #dropdowncardAbout img:hover {
      transform: scale(1.15); /* Enlarges the image while staying inside the card */
    }
    /* All Dropdown card section end ==========================*/
     
    .column li {
      padding: 3px;
    }
    .column h3 {
      padding: 5px 5px 5px 0;
      border-bottom: 1px solid green;
    }
    .column a {
      color: black;
      font-size: 15px;
      font-weight: 300;
      display: block;
    }
    .column a:hover {
      text-decoration: underline;
    }
    
    @media (max-width:600px) {
      .nav {
        display: flex;
        justify-content: space-between;
        width: 100%;
      }
      .header1 {
        display: none;
      }
      .logo {
        display: flex;
        flex: 1;
      }

      .nav__logo>img {
        margin-left: 30vw;
      }
      .icons {
        display: flex;
        flex: 0.3;
        text-align: right;
        /* align-items: flex-end; */
      }
      .navList {
        display: none;
        position: absolute;
        flex-direction: column;
        align-items: start;
        top: 100%;
        width: 100%;
        max-height: 100vh;   /* Enable scrolling when the dropdown is open */
        overflow-y: auto;  /* Enable scrolling when the dropdown is open */
        left: 0;
        top: 100%;
        padding-top: 20px;
        /* background-color: blue; */
        background-color: var(--body-color);
        z-index: 1000;
      }
    
      .nav__link {
        /* display: block; */
        width: 100%;
        /* justify-content: flex-start; */
        align-items: left;
      }
        /* full width display hover in mobile view */
      .navList li {
        display: block;
        width: 100%;
      }
        /* full width display hover in mobile view */
      .dropdown__button,
      .dropdown__button2,
      .dropdown__button3 {
        width: 100%;
        display: flex;
        justify-content: space-between;
      }
    
        /* Show hamburger menu in mobile view */
      #menu-icon {
        display: block;
      }
    
          /* Sub dropdown  */
    .dropdown-menu,
    .dropdown-menu2,
    .dropdown-menu3 {
      position: relative;
      top: 0;
      left: 0;
      right: 0;
      /* max-height: 100vh;
      overflow-y: auto; */
      }
        /* Mobile View: 2 columns */
      .column {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 25px;
        padding-left: 20px;
        padding-right: 20px;
        /* max-height: 100vh;
        overflow-y: auto; */
      }
      /* #homeLinen {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
      } */
      .columnAbout,
      .columnHomeLinen {
        /* padding-top: 5px; */
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
        gap: 10px;
      }
      .icons .ri-account-circle-line {
        display: none;
      }
      .header3>p {
        text-align: center;
      }
    }
    
    #searchHeader {
      margin-top: 30px;
    }
    .searchPage {
      /* margin-top: 0; */
      top: 0;
      height: 0;
      width: 100%;
      overflow-y: hidden;
      z-index: 1001;
      transition: 0.5s;
      position: fixed;
      background-color: white;
      /* height: 100vh; */
    }
    .searchPage p {
      font-size: 22px;
      line-height: 6px;
      font-weight: 500;
      border-bottom: 0.001px solid lightgray;
      padding-bottom: 26px;
      padding-left: 15px;
    }
    #closeBtn {
      font-size: 23px;
      position: absolute;
      top: 20px;
      right: 20px;
      cursor: pointer;
    }
    #closeBtn:hover {
      color: red;
    }

    /* Search page start heare */
    .searchBox {
      /* margin-top: 50px; */
      display: flex;
      justify-content: center;
      margin-top: 40px;
    }
    .searchBox i {
      padding: 16px;
      background-color: rgb(246, 246, 246);
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
      color: lightgray;
    }
    
    .searchBox input {
      background-color: rgb(246, 246, 246);
      padding: 15px 400px 15px 7px;
      border: none;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
    }

    #offer {
      font-size: 13px;
      font-weight: 100;
      background-color: rgb(230, 230, 223);
      padding: 14px;
      border: none;
      border-radius: 5px;
      position: absolute;
      left: 30px;
      bottom: 30px;
      color: darkolivegreen;
    }
    @media (max-width: 500px) {
      .searchPage {
        display: flex;
        flex-direction: column;
      }

      .searchBox input {
      padding: 15px 100px 15px 7px;
      /* margin-top: 80px; */
    }
    }
          /* header section end here  */

/* user login start =========== */
    #loginUser {
      top: 0;
      height: 0;
      width: 100%;
      overflow-y: hidden;
      z-index: 1001;
      transition: 0.5s;
      position: fixed;
      background-color: white;
    }
  .user {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      margin-top: 100px;
      margin-left: 50px;
    }
    .inpt {
      height: 30px;
      min-width: 550px;
      outline: 0.001px solid lightgrey;
      border: none;
      border-radius: 6px;
    }
    .inpt:hover {
      background-color: lightgrey;
    }
    #logbtn {
      height: 30px;
      width: 80px;
      border: none;
      border-radius: 5px;
      background-color: rgb(135, 135, 93);
      color: white;
      cursor: pointer;
    }
    #logbtn:hover {
      background-color: green;
    }

    #closeBtn {
      font-size: 23px;
      position: absolute;
      top: 20px;
      right: 20px;
      cursor: pointer;
    }
    #closeBtn:hover {
      color: red;
    }
    
/* user login end ============== */

/* cart section start here ============= */
     /* #cart {
      display: none;
      top: 0;
      right: 0;
      height: 100%;
      width: 300px;
      z-index: 1001;
      transition: 0.5s;
      position: absolute;
      background-color: rgb(240, 240, 193);
    }
    
    .cartBtn {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .cartBtn a {
      border: 0.01px solid gray;
      width: 250px;
      text-align: center;
      padding-top: 9px;
      padding-bottom: 9px;
      border-radius: 5px;
      color: black;
    }
    .cartBtn a:hover {
      background-color: lavender;
    }

    #closeCart {
      font-size: 20px;
      position: absolute;
      top: 16px;
      right: 16px;
      cursor: pointer;
    }
    #closeCart:hover {
      color: red;
    } */
/* cart section end here =========== */
    
      /* ==============Header3 section==========  */
    .header3 {
      background-color: #93705c;
      height: 45px;
      justify-items: center;
      align-items: center;
    }
    .header3>p {
      padding: 9px;
      font-size: 12px;
      text-align: center;
    }

/* main section start here  */
.container {
  display: flex;
}
.sidebar {
  flex: .9;
  height: 100%;
  border-right: 0.001px solid lightgray;
}

.sidebar li {
  list-style: none;
}
.sidebar li a {
  text-decoration: none;
  color: var(--text-color);
  margin-left: 10px;
  display: block;
}
.sidebar li a:hover {
  color: black;
}
.content {
  flex: 4;
}

/* card section start here  */
.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  justify-content: center;
  justify-items: center;
  gap: 20px;
  align-items: stretch;
  margin: 34px;
  overflow: hidden;
  padding-top: 10px;
}
.cards img {
  height: 220px;
  width: 240px;
  border-radius: 5px;
  transition: transform 0.3s ease-in-out;
  position: relative;
}
.cards img:hover {
  transform: scale(1.05);
}
.card {
  position: relative;
  text-align: center;
  box-shadow: 0 2px 20px 0px rgba(0, 0, 0, 0.3);
}
.card .text {
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-shadow:  4px 4px 5px 8px black;
  color: white;
  font-size: 18px;
  background: rgba(0, 0, 0, 0.3);
}

/* main card 2 section start here  */

/* card section end here */
/* pagination start here  */

.pagination {
  display: flex;
  justify-content: right;
  margin-right: 54px;
  /* align-content: right; */
  gap: 15px;
}
#pageButtons {
  gap: 5px;
  cursor: pointer;
}
.active {
  background-color: gray;
  color: white;
}

  /* pagination end here */
/* main section end here  */

/* Footer Section  */
footer {
  background-color: #333;
  color: gray;
  padding: 20px;
  /* text-align: center; */
  font-size: 12px;
}
.footer1 {
  margin: 50px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  /* text-align: left; */
}
.footer1>div {
  display: flex;
  flex-direction: column;
}
.footer1 a {
  text-decoration: none;
  color: gray;
}
.footer1 a:hover {
  color: white;
}
.footer1 i {
  padding: 4px;
  cursor: pointer;
}
.footer1 i:hover {
  color: white;
}
.footer2 {
  text-align: center;
}
.footer2 a:hover {
  color: beige;
}
